#dashboard-profile-photo {
    width: 278px;
    height: 278px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 50%;
    position: absolute;
    margin-left: 54px;
    top: 244px;
  }

.dashboard-icon {
  width: 50px;
  margin-right: 12px;
}

#dashboard-icon-card {
    width: 35px;
    margin-right: 12px;
}

.card-mentors-wrapper {
  position: relative;
  z-index:100;
  margin-top: 48px;
  background-color: white;
  width: 100%;
  border-radius: 10px;
  padding: 24px;
  padding-bottom: 0;
  padding-left: 0;
}

.card-mentors {
  position: relative;
  z-index:100;
  width: 100%;
  min-height: 473px;
  padding: 6px;
  display: flex;
}

.card-requests {
  position: relative;
  z-index:100;
  margin-bottom: 200px;
  background-color: white;
  width: 100%;
  border-radius: 10px;
  padding: 24px;
  padding-left: 0;
}

.dashboard-user-card {
  margin-top: 15px;
  padding: 5px;
  height: 24px;
  text-align: left;
  margin-left: 3px;
  display: flex;
  padding-left: 0;

  h2 {
    color: #3F3F3F;
    font-size: 28px;
    margin-bottom: 24px;
    font-style: italic;
  }

  img {
    width: 12px;
    margin-right: 10px;
  }
}

.card-mentor-dashboard {
  margin-top: 24px;
  background-color: white;
  height: 473px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  text-align: center;

   padding-top: 180px;

  h2 {
    font-size: 32px;
    font-weight: 500;
    color: $bordeaux;
  }

  img {
    width: 12px;
    margin-right: 10px;
  }
}

#card-messages {
  margin-top: -476px;
 .no-messages {
  padding-left: 71px;
  padding-top: 122px;
  box-shadow: none;
 }
}

#dashboard-mentor {
  width: 240px;
  margin-left: 65px;
  margin-top: 90px;
  margin-bottom: 24px;

}

.dashboard-messages {
  padding: 5px;
  text-align: left;
  margin-left: 3px;
  display: flex;

  h2 {
    color: #3F3F3F;
    font-size: 28px;
    margin-bottom: 24px;
  }

  img {
    width: 12px;
    margin-right: 10px;
  }
}

 .dashboard-message-container {
    min-height: 65px;
    text-align: left;
    border-line: 1px solid;
    border-radius: 5px;
    padding: 24px;
    margin-bottom: 24px;
    margin-top: 24px;
    float: left;
    background-color: #EDEDED;
    width: 97%;
    margin-right: 24px;
  }

.dashboard-cards {
    flex-basis: 27%;
    height: 380px;
    box-shadow: 0 0 5px rgb(230,230,230);
    text-align: center;
    padding: 20px;
    margin-bottom: 48px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin-top: 100px;
    margin-right: 24px;


    #profile-photo {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 50%;
    margin-top: -100px;
  }
}


#user-card-mentor {

  display: flex;
  padding-bottom: 10px;
  height: 80px;
  padding-top: 24px;

  h2 {
    padding-right: 24px;
}
}


#information {
    padding-top: 31px;
    font-size: 18px;
  }

#ignore {
  background-color: #EDEDED;
  border-color: #EDEDED;
}

