.main-container {
  margin-top: 50px;
  position: relative;
  display: flex;
}

.search-container {
  padding-top: 120px;
  width: 25%;
  display: flex;
  flex-direction: column;
}

.card-container {
  width: 75%;
  display: flex;
  flex-direction: column;

  ul {
    position: absolute;
    right: 12px;
    margin-right: 12px;
  }

  li {
    display: inline;
    padding-left: 12px;
  }
}

#searchfield{
  height: 50px;
  margin-bottom: 48px;
  font-weight: 400;

  font-size: 18px;
  color: black;
  letter-spacing: 0.01em;
  padding-left: 24px;

  background: rgba(203,173,172, 0.4);
  border-radius: 30px;
  border: 0px;

}

#search-btn {
  width: 118px;
  height: 50px;
  margin-top: 24px;
  margin-bottom: 48px;
  padding-bottom: 7px;

  font-size: 18px;
  color: white;

  background: #AA7675;
  border-radius: 30px;
}

.filter-professions {
  list-style: none;
  padding-left: 0;

    li {
      font-weight: 300;
      font-size: 18px;
      padding-bottom: 4px;
    }
}

.filter-interests {
  margin-top: 24px;
  list-style: none;
  padding-left: 0;

  li {
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 4px;
  }
}

.all-cards {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
}

#search-results {
  margin-left: 48px;
  margin-bottom: 48px;
}

.switch-button {
  color: $light-rose;
  width: 50px;
  font-size: 20px;

  a:hover {
    color: $dark-rose;
    cursor: pointer;
  }

  a:active {
    color: $dark-rose;
  }
}

.card{
    flex-basis: 27%;
    height: 420px;
    box-shadow: 0 0 5px rgb(230,230,230);
    text-align: center;
    padding: 20px;
    margin-left: 48px;
    margin-bottom: 124px;
    background-color: white;
    border-radius: 10px;
    text-align: center;

    #profile-photo {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 50%;
    margin-top: -100px;
  }
}

.information {

  padding-top: 24px;
  font-size: 18px;
  height: 400px;

  .interests-information {
    font-style: normal;
    font-weight: 300;
  }

  #name-interest {
    border-radius: 30px;
    border: 1px solid $light-rose;
    margin: 10px;
    font-size: 14px;
    padding:4px;
  }

  h3 {
    font-weight: 500;
    font-size: 24px;
    font-weight: 500;
    color: $bordeaux;
  }
}

.read-more-button {

  a {
    font-size: 18px;
    text-decoration: none;
  }

  a:hover {
    color: $bordeaux;
    text-decoration: none;
    font-weight: 500;
  }
}

.footer-find-your-mentor {
  width: 80%;
  position: absolute;
  bottom: 0;
}
