#chatroom-headline{
  margin-top: 0px;
  margin-bottom: 48px;
}

#chatroom-upper-headline {
  margin-top: 50px;
}


  .sender-message-container {
    text-align: left;
    border-line: 1px solid;
    border-radius: 5px;
    padding: 24px;
    margin-bottom: 48px;
    float: left;
    background-color: rgba(203, 173, 172, 0.4);
    width: 60%;

    #message-photo{
      margin-right: 24px;
      float: left;
    }

  }

  #message-photo{
      width: 45px;
      height: 45px;
      object-fit: cover;
      object-position: 50% 50%;
      border-radius: 50%;
    }

  .receiver-message-container {
    text-align: right;
    float:right;
    background-color: $light-gray;
    border-line: 1px solid;
    border-radius: 5px;
    padding: 24px;
    margin-bottom: 48px;
    width: 60%;

   #message-photo{
      float: right;
      margin-left: 24px;

    }

    p {
      margin-right: 70px;
    }
  }

  #send-button {
    background-color: rgba(203, 173, 172, 0.4);
    border: none;
    padding: 12px;
    margin-top: 12px;
    margin-bottom: 48px;
  }

  #send-button:hover {
    background-color: rgba(203, 173, 172, 1);
  }

