.flexbox {
  width: 100%
}

.wrapper-button {
  margin-top: 120px;
  text-align: right;
  float: right;

  a {
    margin-left: 24px;
  }
}

.information-wrapper {
  width: 380px;

  #profile-photo {
    width: 278px;
    height: 278px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 50%;
    position: absolute;
    margin-left: 54px;
    top: 144px;
  }
}

.card-left {
  margin-top: 180px;
  background-color: white;
  height: 473px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  text-align: center;
}

.personal-information {

  padding-top: 180px;

  h2 {
    font-size: 32px;
    font-weight: 500;
    color: $bordeaux;
  }

  img {
    width: 12px;
    margin-right: 10px;
  }

}

.personal-list {
  padding-left: 0;
  list-style: none;
  font-size: 24px;
  font-weight: 300;

  li {
    padding: 12px 48px 0px 48px;
  }
}

.card-right {
  z-index: 100;
  position:relative;
  width: 720px;
  margin-left: 428px;
  margin-top: -474px;
  background-color: white;
  height: 473px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.question {
  height: 140px;
  width: 100%;
  padding: 48px;
  padding-right: 24px;
}

.wrapper-number {
  float: left;

  img {
    width: 30px;
  }
}


.wrapper-questions {
  float: right;
  width: 580px;

  p {
    font-weight: 300;
    font-size: 18px;
  }
}

#background-shape-right {
  position: absolute;
  right: 0;
  top: 500px;
  z-index: 1;
  width: 42%;
}

.card-interests {
  position: relative;
  z-index:100;
  margin-top: 48px;
  background-color: white;
  width: 60%;
  min-height: 473px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 48px;

  h2 {
    color: $bordeaux;
    font-size: 28px;
    margin-bottom: 24px;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 12px;
  }

  #interest-name {
    width: 240px;
  }

  .score-image {
    margin-left: 12px;
    width: 110px;
  }

}

.button-wrapper {
  a {
    font-size: 18px;
    text-decoration: none;
    margin-right: 6px;
  }

  a:hover {
    color: $bordeaux;
    text-decoration: none;
    font-weight: 500;
  }
}

.mentor-request {
  position: absolute;
  z-index: 2;
  right: 10%;
  top: 900px;
  text-align: right;

  h2 {
    font-size: 40px;
    font-weight: 600px;
    color: $bordeaux;
  }

  p {
    font-size: 24px;
  }
}
