<% if current_user.mentor  %>
<h1>All mentees</h1>
<% else %>
<h1> Find your mentor</h1>
<% end %>

<ul>
  <% @users.each do |user| %>
  <li>
    <h2><%= link_to user.name, user_path(user)%> (<%= user.age %>)</h2>
    <p>Profession: <%= user.profession %></br>
    Location: <%= user.city %></p>
  </li>
  <% end %>
</ul>
