
  <%= image_tag 'footer-line.png', class: "footer-vector"%>

  <div class="footer-femnet">
    <div class="footer-links">
        <p><strong>About</strong></p><br>
        <p>Terms</p><br>
        <p>Privacy</p>
    </div>
    <div class="footer-social">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>


