<div class="header-wrapper">
<h1>A Mentor is someone </br>who allows you to see </br>the hope inside yourself.</h1>
<p>- OPRAH WINFREY</p>
<%= link_to "Find your Mentor", users_path, class: "button-primary", id:"header-btn"%>
<%= image_tag 'shape-01.png', class: "header-image"%>
</div>

<%= image_tag 'shape-01.png', class: "background-vector-green"%>
