.button-primary{
  color: $bordeaux;
  background-color: #ffffff;
  border: none;
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, rgba(170, 118, 117, 0.4) 10%);
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  padding: 8px;
  padding-bottom: 0;
  text-align: center;
  width: 118px;
  opacity: 0.5;
}

.button-primary:hover{
  text-decoration: none;
  opacity: 1;
}

.button-secondary{
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.button-secondary:hover{
  text-decoration: none;
  border-bottom: 3px solid $light-gray;
}
