.footer-femnet {
  height: 130px;
  width: 1200px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;

  p {
  color: #3F3F3F;
  padding: 20px;
  }

}

.footer-links {
  width: 75%;
  display: flex;
  align-items: center;
}

 .footer-social {
    width: 25%;
    display: flex;

   a {
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
    color: #AA7675;
  }
}

.footer-links a:hover {
  opacity: 1;
}

.footer-vector {
  position: absolute;
  left: -148px;
  width: 110.5%;
  float: right;
  z-index: 1;
}

