
.form-inputs {
  padding-top: 20px;
  padding-bottom: 20px;
}


.form-actions {
  margin-bottom: 100px;
}

.container {
  background: white;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 280px;
  margin-top: 30px;

  .btn-primary {
    border-radius: 5px;
    padding: 5px 7px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.edit-form-inputs {
  font-weight: bold;
  font-size: 18px;
}
