#map {
  position: absolute;
  display: none;
  right: 10%;
  top: 260px;
  width: 57%;
}

.mapboxgl-popup {
  max-width: 1000px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
